<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunai.otobusbiletall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AyarlarActivity"></activity>
        <activity android:name=".BiletlerimActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".HakkindaActivity" />
        <activity android:name=".KrediKartiActivity" />
        <activity android:name=".BiletDetayActivity" />
        <activity android:name=".KoltukSecmeActivity" />
        <activity android:name=".BiletListeleActivity" />
        <activity android:name=".AnasayfaActivity" />
        <activity android:name=".KaydolActivity" />
        <activity android:name=".GirisYapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>